<ion-header>
  <ion-toolbar>
    <ion-title>Reparte los productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-avatar>
      <ion-img [src]="perfil"></ion-img>
    </ion-avatar>
    <ion-button fill="clear" color="tertiary" slot="start" style="margin-bottom: 10px; margin-top: 15px;"
      (click)="subirImagen()">
      Subir imagen de perfil
    </ion-button>
  </ion-list>
  
  <ion-row>
    <h4><b>{{ nombre }} {{ apellidos }}</b></h4>
  </ion-row>
  <ion-row>
    <p>{{ correoElectronico }}</p>
  </ion-row>
  <ion-row>
    <p>{{ nombreComuna }}</p>
  </ion-row>
  <ion-row>
    <p>{{ direccion }}</p>
  </ion-row>
  <ion-list>
    <h3>Lista de Despachos en Entrega</h3>
    <ion-item *ngFor="let compra of productosEnEntrega" style="margin-top: 20px;">
      <ion-label text-wrap>
        <p>Nombre de cliente: <b>{{ compra.NOMBRE }}</b></p>
        <ion-avatar>
          <ion-img src="http://feriasclick.desarrollo-tecnologico.com/perfiles/{{compra.ID_USUARIO}}.jpg">
          </ion-img>
        </ion-avatar>
        <p>Comuna: <b>{{ compra.NOMBRE_COMUNA }}</b></p>
        <p>Direccion: <b>{{ compra.DIRECCION }}</b></p>
        <p>Fecha y Hora de Compra: <b>{{ compra.FECHA_HORA_COMPRA }}</b></p>
        <p>Monto de Compra: <b>$ {{ compra.MONTO_COMPRA }}</b></p>
        <p>Ganancia: <b>$ {{ compra.MONTO_REPARTO }}</b></p>

        <h3><b>Productos</b></h3>
        <ion-list>
          <ng-container *ngFor="let entrega of matrizProductosEntrega" style="margin-top: 20px;">
            <ng-container *ngIf="entrega.ID_COMPRA ===  compra.ID_COMPRA">

              <ion-label text-wrap>
                <ion-text>
                  <p>Nombre producto: <b>{{ entrega.NOMBRE_PRODUCTO }}</b></p>
                </ion-text>
                <ion-text>
                  <p>Id de compra: <b>{{ entrega.ID_COMPRA }}</b></p>
                </ion-text>

                <ion-thumbnail slot="start">
                  <ion-img src="http://feriasclick.desarrollo-tecnologico.com/perfiles/{{entrega.ID_USUARIO}}.jpg"></ion-img>
                </ion-thumbnail>
                <ion-text>
                  <p>Puesto: <b>{{ entrega.PUESTO }}</b></p>
                </ion-text>
                <ion-text>
                  <p>Nombre de comerciante: <b>{{ entrega.NOMBRE }} {{ entrega.APELLIDOS }}</b></p>
                </ion-text>
                <ion-img src="http://feriasclick.desarrollo-tecnologico.com/productos/{{entrega.ID_PRODUCTO}}.jpg"></ion-img>

                <ion-text>
                  <p>Cantidad: <b>{{ entrega.CANTIDAD_PRODUCTO }}</b></p>
                </ion-text>
              </ion-label>

            </ng-container>
          </ng-container>
        </ion-list>
        <ion-button fill="solid" color="tertiary" slot="end" style="margin-bottom: 10px; margin-top: 20px;"
          (click)="confirmarEntrega(compra.ID_COMPRA)">
          Entrega
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <h3>Lista de Comentarios Recibidos</h3>
    <ion-item *ngFor="let comentario of listaComentarios" style="margin-top: 20px;">
      <ion-label text-wrap>
        <ion-text>
          <p style="font-size: 15px;"><b>Comentario: {{ comentario.TEXTO_COMENTARIO }}</b></p>
        </ion-text>
        <ion-text>
          <p>Fecha y hora del comentario: <b>{{ comentario.FECHA_COMENTARIO }}</b></p>
        </ion-text>
        <ion-text>
          <p>Comprador/a: <b>{{ comentario.NOMBRE_COMPRADOR }} {{ comentario.APELLIDOS_COMPRADOR }}</b></p>
        </ion-text>
        <ion-avatar>
          <ion-img src="http://feriasclick.desarrollo-tecnologico.com/perfiles/{{comentario.ID_COMPRADOR}}.jpg"></ion-img>
        </ion-avatar>
        <ion-text>
          <p>Dirección: <b>{{ comentario.DIRECCION_COMPRADOR }} </b></p>
        </ion-text>
        <ion-button fill="solid" color="tertiary" slot="end" style="margin-bottom: 10px;"
          (click)="comentarioVisto(comentario)">
          Revisado
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <h3>Lista de Despachos Pendientes</h3>
    <ion-item *ngFor="let compra of comprasPendientes" style="margin-top: 20px;">
      <ion-label text-wrap>
        <ion-text>
          <p>Nombre de cliente: <b>{{ compra.NOMBRE }} {{ compra.APELLIDOS }}</b></p>
        </ion-text>
        <ion-avatar>
          <ion-img src="http://feriasclick.desarrollo-tecnologico.com/perfiles/{{compra.ID_USUARIO}}.jpg"></ion-img>
        </ion-avatar>
        <ion-text>
          <p>Comuna: <b>{{ compra.NOMBRE_COMUNA }}</b></p>
        </ion-text>
        <ion-text>
          <p>Direccion: <b>{{ compra.DIRECCION }}</b></p>
        </ion-text>
        <ion-text>
          <p>Fecha y hora de compra: <b>{{ compra.FECHA_HORA_COMPRA }}</b></p>
        </ion-text>
        <ion-text>
          <p>Monto de compra: <b>$ {{ compra.MONTO_COMPRA }}</b></p>
        </ion-text>
        <ion-button fill="solid" color="tertiary" slot="end" style="margin-bottom: 10px;" (click)="enEntrega(compra)">
          Despachar
        </ion-button>
      </ion-label>
    </ion-item>
    <ion-button fill="solid" color="tertiary" slot="end" style="margin-bottom: 10px; margin-top: 20px;"
      (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </ion-list>
</ion-content>
