<ion-header>
  <ion-toolbar color="verde-marco">
    <ion-title><b>Compra tus productos</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card color="verde-card">
    <ion-card-header>
      
      <ion-avatar style="margin-bottom: 20px;">
        <ion-img [src]="perfil"></ion-img>
      </ion-avatar>
      
      <ion-card-title><b>{{ nombre }} {{ apellidos }}</b></ion-card-title>
      <ion-card-subtitle>{{ correoElectronico }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ nombreComuna }}</p>
      <p>{{ direccion }}</p>

      <ion-button color="verde-boton" slot="start" (click)="subirImagen()">
        Subir imagen de perfil
      </ion-button>
      <ion-button color="verde-boton" slot="start" style="margin-bottom: 10px; margin-top: 15px;">
        Actualizar datos personales
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="verde-card-secundario">
    <ion-card-header>
      <ion-card-title><b>Productos a Comprar</b></ion-card-title>
      <ion-card-subtitle>Monto Total $ {{ sumaCompra }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item color="verde-card" *ngFor="let productoComprado of productosComprados" style="margin-top: 20px;">
        <p>{{ productoComprado.nombre }} monto: ${{ productoComprado.monto }}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-title style="margin-top: 50px; margin-bottom: 20px;"><b>Lista de Productos Disponibles</b></ion-title>

  <ion-list color="verde-card" style="border-radius: 5px;">
    <ion-item *ngFor="let tipo of tipoProductos" style="margin: 5px; border-radius: 5px;" color="verde-card-secundario">
      <ion-label text-wrap>
        <h2 style="margin-bottom: 10px;"><b>{{ tipo.NOMBRE_TIPO }}</b></h2>
  
        <ion-list style="border-radius: 5px;">
          <ng-container *ngFor="let producto of productos" style="margin-top: 20px;">
            <ng-container *ngIf="producto.ID_TIPO ===  tipo.ID_TIPO">
  
              <ion-label text-wrap style="margin: 10px;">
                <ion-text>
                  <h6 style="color:#333333;"><b>{{ producto.NOMBRE_PRODUCTO }}</b></h6>
                </ion-text>
                <ion-img src="http://feriasclick.desarrollo-tecnologico.com/productos/{{producto.ID_PRODUCTO}}.jpg">
                </ion-img>
                <ion-text>
                  <p style="color:#333333;">Costo por kilo o unidad: <b>${{ producto.COSTO_PRODUCTO }}</b></p>
                </ion-text>
                <ion-text>
                  <p style="color:#333333;">Valoraciones del producto: <b>{{ producto.VALORACION_PRODUCTO }}</b></p>
                </ion-text>
                <div item-content>
                  <ion-range name="range" min="0" max="{{ producto.CANTIDAD_PRODUCTO }}" color="verde-boton" pin="true"
                    (ionChange)="cambioRango( $event )">
                    <ion-label style="color:#333333;" slot="start">0</ion-label>
                    <ion-label style="color:#333333;" slot="end">{{ producto.CANTIDAD_PRODUCTO}}</ion-label>
                  </ion-range>
                </div>
                <ion-button fill="solid" color="verde-boton" slot="end" style="margin-bottom: 10px; margin-left: 5px;"
                  (click)="agregar(producto)" (ionFocus)="hola()" (ionBlur)="resetearValor()">
                  Agregar
                </ion-button>
              </ion-label>
  
            </ng-container>
          </ng-container>
        </ion-list>
      </ion-label>
    </ion-item>
  
    <ion-button fill="solid" color="verde-boton" slot="end" style="margin: 10px;" (click)="confirmarCompra()">
      Realizar pago
    </ion-button>
  
  </ion-list>

  <ion-card color="verde-card-secundario">
    <ion-card-header>
      <ion-card-title><b>Despachos por Calificar</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list style="border-radius: 5px;" color="fondo">
        <ion-item *ngFor="let despacho of despachos" style="margin-top: 10px;" color="fondo">
          <ion-label text-wrap>
            <ion-text>
              <p>Fecha de despacho: <b>{{ despacho.FECHA_HORA_DESPACHO }}</b></p>
            </ion-text>
            <ion-text>
              <p style="margin-bottom: 10px;">Nombre de repartidor: <b>{{ despacho.NOMBRE_REPARTIDOR }} {{ despacho.APELLIDOS_REPARTIDOR }}</b></p>
            </ion-text>
            <ion-avatar>
              <ion-img style="margin-top: 10px; margin-bottom: 10px;" src="http://feriasclick.desarrollo-tecnologico.com/perfiles/{{despacho.ID_REPARTIDOR}}.jpg"></ion-img>
            </ion-avatar>
            <ion-text>
              <p style="margin-top: 10px;">Monto de la compra: <b>$ {{ despacho.MONTO_COMPRA }}</b></p>
            </ion-text>
            <ion-button fill="solid" color="verde-boton" slot="end" style="margin-bottom: 10px; margin-top: 15px;"
              (click)="calificar(despacho)">
              Calificar
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-button fill="solid" color="verde-boton" slot="end" style="margin-bottom: 10px; margin-top: 20px;"
      (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </ion-list>

</ion-content>
