<ion-header>
  <ion-toolbar>
    <ion-title>Carga tu imagen de perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-button fill="clear" expand="full" color="tertiary" (click)="nada()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Seleccione foto
    </ion-button>
  </ion-list>
  <ion-list>
    <ion-button fill="solid" color="tertiary" slot="end" style="margin-bottom: 10px; margin-top: 20px;"
      (click)="saltoPaginaComprador()">
      Volver
    </ion-button>
  </ion-list>
</ion-content>
