<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h3>Datos de usuario/a</h3>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-text>
          <h4>Nombre: {{ usuario.nombre }} {{ usuario.apellidos }}</h4>
        </ion-text>
        <ion-text>
          <h4>Rut: {{ usuario.rut }}</h4>
        </ion-text>
        <ion-text>
          <h4>Correo: {{ usuario.correo }}</h4>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <h3>Edición de {{ productoEditable.nombreProducto }}</h3>
  
  <ion-list>
    <ion-avatar>
      <ion-img [src]="producto"></ion-img>
    </ion-avatar>
    <ion-button fill="clear" color="tertiary" slot="start" style="margin-bottom: 10px; margin-top: 15px;"
      (click)="subirImagen()">
      Subir imagen de producto
    </ion-button>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="modificar(formulario)">
    <ion-input placeholder="Ingrese nuevo nombre" [(ngModel)]="model.nombreProducto" type="text" name="nombreProducto"
      maxlength="200" required>
    </ion-input>
    <ion-label>Cantidad actual: {{ productoEditable.cantidadProducto }}</ion-label>
    <ion-range #rango min="0" max="100" color="tertiary" pin="true" [(ngModel)]="model.cantidadProducto"
      name="cantidadProducto" required>
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
    <ion-label>Valor actual: {{ productoEditable.costoProducto }}</ion-label>
    <ion-range #rango min="0" max="50000" step="50" color="tertiary" pin="true" [(ngModel)]="model.costoProducto"
      name="nombreProducto" required>
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">50000</ion-label>
    </ion-range>
    <ion-row class="top-20">
      <ion-col>
        <ion-button [disabled]="formulario.invalid" type="submit" fill="solid" expand="full" color="tertiary">
          Registrar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-list>
    <ion-button fill="solid" color="tertiary" (click)="volver()">
      Volver
    </ion-button>
  </ion-list>

</ion-content>
