<ion-header>
  <ion-toolbar color="verde-marco">
    <ion-title><b>Actualizar Producto</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card color="verde-card">
    <ion-card-header>
      <ion-card-title><b>Datos de Usuario/a</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-text>
          <h4>Nombre: {{ usuario.nombre }} {{ usuario.apellidos }}</h4>
        </ion-text>
        <ion-text>
          <h4>Rut: {{ usuario.rut }}</h4>
        </ion-text>
        <ion-text>
          <h4>Correo: {{ usuario.correo }}</h4>
        </ion-text>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="verde-card-secundario">
    <ion-card-header>
      <ion-card-title><b>Edición de {{ productoEditable.nombreProducto }}</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="verde-boton" slot="start" (click)="subirImagen()" style="margin-bottom: 10px;">
        Subir imagen de producto
      </ion-button>

      <form #formulario="ngForm" (ngSubmit)="modificar(formulario)">
        <ion-input placeholder="Ingrese nuevo nombre" [(ngModel)]="model.nombreProducto" type="text" name="nombreProducto"
          maxlength="200" required style="margin-bottom: 10px;">
        </ion-input>
        <ion-label>Cantidad actual: {{ productoEditable.cantidadProducto }}</ion-label>
        <ion-range #rango min="0" max="100" color="verde-boton" pin="true" [(ngModel)]="model.cantidadProducto"
          name="cantidadProducto" required>
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">100</ion-label>
        </ion-range>
        <ion-label>Peso unidad actual (gramos): {{ pesoProducto }}</ion-label>
        <ion-range #rango min="0" max="20000" step="250" color="verde-boton" pin="true" [(ngModel)]="model.pesoProducto"
          name="cantidadProducto" required>
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">20000</ion-label>
        </ion-range>
        <ion-label>Valor actual: {{ productoEditable.costoProducto }}</ion-label>
        <ion-range #rango min="0" max="20000" step="50" color="verde-boton" pin="true" [(ngModel)]="model.costoProducto"
          name="nombreProducto" required>
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">20000</ion-label>
        </ion-range>
        <ion-row class="top-20">
          <ion-col>
            <ion-button [disabled]="formulario.invalid" type="submit" fill="solid" expand="full" color="verde-boton">
              Registrar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-button fill="solid" color="verde-boton" (click)="volver()">
      Volver
    </ion-button>
  </ion-list>

</ion-content>
