<ion-header>
  <ion-toolbar color="verde-marco">
    <ion-title><b>Ofrece tus productos</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card color="verde-card">
    <ion-card-header>

      <ion-avatar style="margin-bottom: 20px;">
        <ion-img [src]="perfil"></ion-img>
      </ion-avatar>
      <ion-card-title><b>{{ nombre }} {{ apellidos }}</b></ion-card-title>
      <ion-card-subtitle>{{ correoElectronico }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ nombreComuna }}</p>
      <p>{{ direccion }}</p>
      <ion-button color="verde-boton" slot="start" (click)="subirImagen()">
        Subir imagen de perfil
      </ion-button>
      <ion-button color="verde-boton" slot="start" style="margin-bottom: 10px; margin-top: 15px;">
        Actualizar datos personales
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-list color="fondo">
    <ion-button fill="solid" color="verde-boton" slot="end" style="margin-bottom: 10px; margin-top: 20px;"
      (click)="agregarProducto()">
      Agregar Producto
    </ion-button>
    <h3>Productos Ofrecidos</h3>
    <ion-item *ngFor="let producto of productos" style="margin-top: 20px;">
      <ion-label text-wrap>
        <ion-text>
          <h6>{{ producto.NOMBRE_PRODUCTO }}</h6>
        </ion-text>
        <ion-img src="http://feriasclick.desarrollo-tecnologico.com/productos/{{producto.ID_PRODUCTO}}.jpg"></ion-img>
        <ion-text>
          <p>Costo por kilo o unidad: <b>${{ producto.COSTO_PRODUCTO }}</b></p>
        </ion-text>
        <ion-text>
          <p>Valoraciones del producto: <b>{{ producto.VALORACION_PRODUCTO }}</b></p>
        </ion-text>
        <ion-text>
          <p>Cantidad de producto ofrecido: <b>{{ producto.CANTIDAD_PRODUCTO }}</b></p>
        </ion-text>
        <ion-button fill="solid" color="verde-boton" slot="end" style="margin-bottom: 10px; margin-top: 10px;"
          (click)="editar(producto)">
          Editar
        </ion-button>
      </ion-label>
    </ion-item>
    <ion-button fill="solid" color="verde-boton" slot="end" style="margin-bottom: 10px; margin-top: 20px;"
      (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </ion-list>
</ion-content>
