<ion-header>
  <ion-toolbar>
    <ion-title>
      Ferias Click
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-padding">
    <h1>Bienvenida/o a Ferias Click</h1>
  </div>
  <ion-row class="top-20">
    <ion-col>
      <ion-button fill="solid" expand="full" routerLink="/registro" color="tertiary">
        Registro
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="top-20">
    <ion-col>
      <ion-button fill="solid" expand="full" routerLink="/ingreso" color="tertiary">
        Ingreso
      </ion-button>
    </ion-col>
  </ion-row>
  <!--<ion-row class="top-20">
    <ion-col>
      <ion-button fill="solid" expand="full" color="tertiary" onclick="salir()">
        Salir
      </ion-button>
    </ion-col>  
  </ion-row>-->
</ion-content>
