<ion-header>
  <ion-toolbar color=verde-marco>
    <ion-title>
      <b>Ferias Click</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="fondo">
  <div class="ion-padding" style="text-align: center;">
    <h1><b>Bienvenida/o a Ferias Click</b></h1>
  </div>
  <ion-row class="top-20">
    <ion-col>
      <ion-button fill="solid" expand="full" routerLink="/registro" color="verde-boton" [hidden]="manejo">
        Registro
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="top-20">
    <ion-col>
      <ion-button fill="solid" expand="full" routerLink="/ingreso" color="verde-boton" [hidden]="manejo">
        Ingreso
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
