<ion-header>
  <ion-toolbar color="verde-marco">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title><b>Ingreso</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="fondo">
  <ion-card color="verde-card">
    <ion-card-header>
      <ion-card-title>Ingreso a la aplicación</ion-card-title>
      <ion-card-subtitle>Ingrese sus datos:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <form #formulario="ngForm" (ngSubmit)="ingresar(formulario)">
      
        <ion-row>
          <ion-input placeholder="Ingrese su nombre de usuario" [(ngModel)]="model.nombreUsuario" name="nombre_usuario"
            maxlength="100" required></ion-input>
        </ion-row>
        <ion-row>
          <ion-input placeholder="Ingrese su clave" [(ngModel)]="model.clave" name="clave" type="password" maxlength="50"
            required></ion-input>
        </ion-row>
        <ion-row class="top-20">
          <ion-col>
            <ion-button [disabled]="formulario.invalid" type="submit" fill="solid" expand="full" color="verde-boton">
              Ingresar
            </ion-button>
          </ion-col>
        </ion-row>
      
      </form>

    </ion-card-content>
  </ion-card>
  
</ion-content>